/* Styles de base pour le header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #282c34;
    color: white;
  }
  
  .logo h1 {
    font-size: 1.5rem;
  }
  
  /* Styles pour le menu */
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links li {
    font-size: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  /* Burger menu */
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
  }
  
  /* Adaptation mobile */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      height: 100vh;
      background-color: #282c34;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
  
    .burger {
      display: flex;
    }
  
    .navbar.active .nav-links {
      transform: translateX(0);
    }
  }
  