
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  h1 {
    color: #592F2F;
    background-color: #F6F0F0;  
  }

  h2 {
    color: #9C7088;
  }  
  h3 {
    color: #68031E; 
  }

  